/* eslint-disable */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-main{
  display: flex;
  flex-direction:column ;
  align-items: center;
}

.app-input{
  height: 20px;
  margin: 20px;
  width: 400px;
}

.result-img{
  width: 400px;
  margin-top: 20px;
}
.button {
  background-color: rgb(125, 221, 200) ;
    color: rgb(240, 234, 234) ;
    padding: auto;
    outline: none;
    border: none;
    size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
}
.button :hover{
   background-color: rgb(125, 221, 200) ;;
   color: aliceblue;
}

.navbar{
  color: #00D2FC;
}